/* Use z-index (plus 'position' to set auto-suggestion on top of other component(s) */

.App-header {
  background-color: #50c878;
  min-height: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
  text-align: center;
}

.Search-Container {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 10px 10px;
  background-color: lightblue;
}

.react-autosuggest__container {
  width: 20%;
  min-width: 100px;
  background-color: white;
  font-size: 15px;
  /* background-color: lightyellow; */
}

.react-autosuggest__input {
  width: 85%;
  padding: 5px;
  margin: 5px;
  font-size: 20px;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
  padding: 10px;
}

.react-autosuggest__suggestions-container--open {
  position: relative;
  z-index: 2;
  border: 1px solid #aaa;
  background-color: white;
  background-color: lightyellow;
}

.Search-Button {
  width: 80px;
  font-size: 15px;
  padding: 5px;
  margin-left: 10px;
}

.Map {
  height: 30vh;
  width: 95%;
  margin: 2.5%;
}

/* The charts are side-by-side: each column takes the same amount of space */
.Charts {
  /* display: grid; */
  display: table;
  width: 100%;
  /* background-color: lightblue; */
}

.Line-Chart {
  width: 95%;
  margin-left: 2.5%;
  /* background-color: lightyellow; */
}
