.App-header {
  background-color: #50c878;
  min-height: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
  text-align: center;
}

.Search-Container {
  height: 50px;
  padding: 10px 10px;
  /* background-color: lightblue; */
}

.Search-Container input {
  width: 40%;
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.Search-Container button {
  width: 80px;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}

.Map {
  height: 30vh;
  width: 95%;
  margin: 2.5%;
}

/* The charts are side-by-side: each column takes the same amount of space */
.Charts {
  /* display: grid; */
  display: table;
  width: 100%;
  background-color: lightblue;
}

.Line-Chart {
  width: 95%;
  margin-left: 2.5%;
  background-color: lightyellow;
}
